In [4]:
import numpy as np
import pandas as pd

In [5]:
s = pd.Series([1, 2, np.nan])
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
s[0]

1.0

In [7]:
s.sum()

3.0

In [8]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df

   A  B
0  1  3
1  2  4

In [9]:
df.dtypes

A    int64
B    int64
dtype: object

In [10]:
df = pd.DataFrame(np.random.randn(6, 4))
df

          0         1         2         3
0  0.643080 -0.956475 -0.347416  1.032976
1 -0.434631  1.147824 -0.428845 -0.863239
2 -0.881193  0.170423  0.974174 -0.584889
3  0.584497  1.454482 -0.932223  0.046407
4 -0.112631  0.223508 -0.297641 -0.503021
5 -0.255148  1.155072  0.209867 -0.782095

In [11]:
df = pd.DataFrame(np.random.randn(6, 4),
                  index=pd.date_range('20190101', periods=6))
df

                   0         1         2         3
2019-01-01  0.035789  0.826909 -0.359823  0.130929
2019-01-02  1.016112 -1.478778 -1.109303  0.069794
2019-01-03  0.753408 -0.098964 -0.208100 -0.698632
2019-01-04  0.543995 -0.516921  0.605267  1.442445
2019-01-05  2.215576  1.430506 -1.394405 -0.300153
2019-01-06 -1.388088  0.170358 -1.233190  0.560064

In [12]:
df = pd.DataFrame(np.random.randn(6, 4),
                  index=pd.date_range('20190101', periods=6),
                  columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2019-01-01 -0.226710 -2.172492  0.342776  0.651891
2019-01-02  0.337910 -1.956179 -0.346803  0.725551
2019-01-03  0.390363  0.418912 -1.742910  0.068620
2019-01-04  0.274556  0.638731 -0.400413 -0.224958
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234
2019-01-06 -0.140487  1.653017 -1.752702 -0.610021

In [13]:
df.head(1)

                  A         B         C         D
2019-01-01 -0.22671 -2.172492  0.342776  0.651891

In [14]:
df.tail(3)

                   A         B         C         D
2019-01-04  0.274556  0.638731 -0.400413 -0.224958
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234
2019-01-06 -0.140487  1.653017 -1.752702 -0.610021

In [15]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.values

array([[-0.2267102 , -2.17249209,  0.34277609,  0.65189119],
       [ 0.3379099 , -1.95617883, -0.34680339,  0.72555107],
       [ 0.39036261,  0.41891176, -1.7429096 ,  0.06861984],
       [ 0.27455587,  0.63873112, -0.40041278, -0.22495823],
       [ 1.11409394, -0.92070908, -0.06406804, -0.15223428],
       [-0.14048687,  1.6530171 , -1.75270186, -0.61002093]])

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.291621 -0.389787 -0.660687  0.076475
std    0.478337  1.536124  0.882367  0.522860
min   -0.226710 -2.172492 -1.752702 -0.610021
25%   -0.036726 -1.697311 -1.407285 -0.206777
50%    0.306233 -0.250899 -0.373608 -0.041807
75%    0.377249  0.583776 -0.134752  0.506073
max    1.114094  1.653017  0.342776  0.725551

In [19]:
df.T

   2019-01-01  2019-01-02  2019-01-03  2019-01-04  2019-01-05  2019-01-06
A   -0.226710    0.337910    0.390363    0.274556    1.114094   -0.140487
B   -2.172492   -1.956179    0.418912    0.638731   -0.920709    1.653017
C    0.342776   -0.346803   -1.742910   -0.400413   -0.064068   -1.752702
D    0.651891    0.725551    0.068620   -0.224958   -0.152234   -0.610021

In [20]:
df.sort_values(by='B')

                   A         B         C         D
2019-01-01 -0.226710 -2.172492  0.342776  0.651891
2019-01-02  0.337910 -1.956179 -0.346803  0.725551
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234
2019-01-03  0.390363  0.418912 -1.742910  0.068620
2019-01-04  0.274556  0.638731 -0.400413 -0.224958
2019-01-06 -0.140487  1.653017 -1.752702 -0.610021

In [21]:
df[0:3]

                   A         B         C         D
2019-01-01 -0.226710 -2.172492  0.342776  0.651891
2019-01-02  0.337910 -1.956179 -0.346803  0.725551
2019-01-03  0.390363  0.418912 -1.742910  0.068620

In [22]:
df['20190102':'20190104']

                   A         B         C         D
2019-01-02  0.337910 -1.956179 -0.346803  0.725551
2019-01-03  0.390363  0.418912 -1.742910  0.068620
2019-01-04  0.274556  0.638731 -0.400413 -0.224958

In [23]:
df.loc['20190101']

A   -0.226710
B   -2.172492
C    0.342776
D    0.651891
Name: 2019-01-01 00:00:00, dtype: float64

In [24]:
df.loc['20190102', ['A', 'B']]

A    0.337910
B   -1.956179
Name: 2019-01-02 00:00:00, dtype: float64

In [25]:
df.loc['20190102':'20190104', ['A', 'B']]

                   A         B
2019-01-02  0.337910 -1.956179
2019-01-03  0.390363  0.418912
2019-01-04  0.274556  0.638731

In [26]:
df.loc[:, ['A', 'B']]

                   A         B
2019-01-01 -0.226710 -2.172492
2019-01-02  0.337910 -1.956179
2019-01-03  0.390363  0.418912
2019-01-04  0.274556  0.638731
2019-01-05  1.114094 -0.920709
2019-01-06 -0.140487  1.653017

In [ ]:
df.iloc[0, 0]

-0.22671019800960973

In [28]:
df.iloc[0:2, 0:2]

                  A         B
2019-01-01 -0.22671 -2.172492
2019-01-02  0.33791 -1.956179

In [29]:
df[df.A > 0]

                   A         B         C         D
2019-01-02  0.337910 -1.956179 -0.346803  0.725551
2019-01-03  0.390363  0.418912 -1.742910  0.068620
2019-01-04  0.274556  0.638731 -0.400413 -0.224958
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234

In [30]:
df[df.B > 0]

                   A         B         C         D
2019-01-03  0.390363  0.418912 -1.742910  0.068620
2019-01-04  0.274556  0.638731 -0.400413 -0.224958
2019-01-06 -0.140487  1.653017 -1.752702 -0.610021

In [31]:
df[df > 0]

                   A         B         C         D
2019-01-01       NaN       NaN  0.342776  0.651891
2019-01-02  0.337910       NaN       NaN  0.725551
2019-01-03  0.390363  0.418912       NaN  0.068620
2019-01-04  0.274556  0.638731       NaN       NaN
2019-01-05  1.114094       NaN       NaN       NaN
2019-01-06       NaN  1.653017       NaN       NaN

In [32]:
df

                   A         B         C         D
2019-01-01 -0.226710 -2.172492  0.342776  0.651891
2019-01-02  0.337910 -1.956179 -0.346803  0.725551
2019-01-03  0.390363  0.418912 -1.742910  0.068620
2019-01-04  0.274556  0.638731 -0.400413 -0.224958
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234
2019-01-06 -0.140487  1.653017 -1.752702 -0.610021

In [33]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2019-01-01 -0.226710 -2.172492  0.342776  0.651891    one
2019-01-02  0.337910 -1.956179 -0.346803  0.725551    one
2019-01-03  0.390363  0.418912 -1.742910  0.068620    two
2019-01-04  0.274556  0.638731 -0.400413 -0.224958  three
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234   four
2019-01-06 -0.140487  1.653017 -1.752702 -0.610021  three

In [34]:
df2[df2['E'].isin(['one', 'four'])]

                   A         B         C         D     E
2019-01-01 -0.226710 -2.172492  0.342776  0.651891   one
2019-01-02  0.337910 -1.956179 -0.346803  0.725551   one
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234  four

In [35]:
df

                   A         B         C         D
2019-01-01 -0.226710 -2.172492  0.342776  0.651891
2019-01-02  0.337910 -1.956179 -0.346803  0.725551
2019-01-03  0.390363  0.418912 -1.742910  0.068620
2019-01-04  0.274556  0.638731 -0.400413 -0.224958
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234
2019-01-06 -0.140487  1.653017 -1.752702 -0.610021

In [36]:
s = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20190101', periods=6))
s

2019-01-01    1
2019-01-02    2
2019-01-03    3
2019-01-04    4
2019-01-05    5
2019-01-06    6
Freq: D, dtype: int64

In [37]:
df['E'] = s
df

                   A         B         C         D  E
2019-01-01 -0.226710 -2.172492  0.342776  0.651891  1
2019-01-02  0.337910 -1.956179 -0.346803  0.725551  2
2019-01-03  0.390363  0.418912 -1.742910  0.068620  3
2019-01-04  0.274556  0.638731 -0.400413 -0.224958  4
2019-01-05  1.114094 -0.920709 -0.064068 -0.152234  5
2019-01-06 -0.140487  1.653017 -1.752702 -0.610021  6

In [38]:
df.shift(1)

                   A         B         C         D    E
2019-01-01       NaN       NaN       NaN       NaN  NaN
2019-01-02 -0.226710 -2.172492  0.342776  0.651891  1.0
2019-01-03  0.337910 -1.956179 -0.346803  0.725551  2.0
2019-01-04  0.390363  0.418912 -1.742910  0.068620  3.0
2019-01-05  0.274556  0.638731 -0.400413 -0.224958  4.0
2019-01-06  1.114094 -0.920709 -0.064068 -0.152234  5.0

In [39]:
df = pd.DataFrame(np.random.randn(2, 2))
df

          0         1
0  1.642695  0.633977
1 -0.979140  0.862804

In [40]:
pd.concat([df, df])

          0         1
0  1.642695  0.633977
1 -0.979140  0.862804
0  1.642695  0.633977
1 -0.979140  0.862804

In [41]:
df = pd.DataFrame(np.random.rand(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.276600  0.880437  0.541913  0.780432
1  0.272868  0.001256  0.621236  0.803534
2  0.865369  0.639706  0.430764  0.708729
3  0.899043  0.136012  0.214218  0.213279
4  0.244944  0.847071  0.626636  0.865091
5  0.255344  0.000333  0.396388  0.132349
6  0.089569  0.862388  0.151976  0.065509
7  0.486468  0.787860  0.114102  0.517223

In [42]:
s = df.iloc[0]
s

A    0.276600
B    0.880437
C    0.541913
D    0.780432
Name: 0, dtype: float64

In [43]:
df.append(s)

          A         B         C         D
0  0.276600  0.880437  0.541913  0.780432
1  0.272868  0.001256  0.621236  0.803534
2  0.865369  0.639706  0.430764  0.708729
3  0.899043  0.136012  0.214218  0.213279
4  0.244944  0.847071  0.626636  0.865091
5  0.255344  0.000333  0.396388  0.132349
6  0.089569  0.862388  0.151976  0.065509
7  0.486468  0.787860  0.114102  0.517223
0  0.276600  0.880437  0.541913  0.780432

In [44]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.276600  0.880437  0.541913  0.780432
1  0.272868  0.001256  0.621236  0.803534
2  0.865369  0.639706  0.430764  0.708729
3  0.899043  0.136012  0.214218  0.213279
4  0.244944  0.847071  0.626636  0.865091
5  0.255344  0.000333  0.396388  0.132349
6  0.089569  0.862388  0.151976  0.065509
7  0.486468  0.787860  0.114102  0.517223
8  0.276600  0.880437  0.541913  0.780432

In [45]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'],
                   'B': np.random.randn(4)})
df

     A         B
0  foo -0.173514
1  bar  0.306166
2  foo -0.602419
3  bar  1.573783

In [46]:
df.groupby('A').sum()

            B
A
bar  1.879948
foo -0.775933

In [47]:
import pandas_datareader

In [48]:
df = pandas_datareader.data.DataReader('AAPL', 'yahoo', '2014-01-01')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-12-31,80.182854,79.142860,79.167145,80.145714,55771100.0,67.658981
2014-01-02,79.575714,78.860001,79.382858,79.018570,58671200.0,66.707436
2014-01-03,79.099998,77.204285,78.980003,77.282860,98116900.0,65.242165
2014-01-06,78.114288,76.228569,76.778572,77.704285,103152700.0,65.597923
2014-01-07,77.994286,76.845711,77.760002,77.148575,79302300.0,65.128777
2014-01-08,77.937141,76.955711,76.972855,77.637146,64632400.0,65.541245
2014-01-09,78.122856,76.478569,78.114288,76.645714,69787200.0,64.704292
2014-01-10,77.257141,75.872856,77.118568,76.134285,76244000.0,64.272545
2014-01-13,77.500000,75.697144,75.701431,76.532860,94623200.0,64.609001
2014-01-14,78.104286,76.808571,76.888573,78.055717,83140400.0,65.894608
2014-01-15,80.028572,78.808571,79.074287,79.622856,97909700.0,67.217575
2014-01-16,79.550003,78.811432,79.271431,79.178574,57319500.0,66.842506
2014-01-17,78.867142,77.128571,78.782860,77.238571,106684900.0,65.204781
2014-01-21,78.581429,77.202858,77.284286,78.438568,82131700.0,66.217789
2014-01-22,79.612854,78.258568,78.701431,78.787140,94996300.0,66.512077
2014-01-23,79.500000,77.830002,78.562859,79.454285,100809800.0,67.075272
2014-01-24,79.374283,77.821426,79.142860,78.010002,107338700.0,65.856003
2014-01-27,79.257141,77.964287,78.581429,78.642860,138719700.0,66.390274
2014-01-28,73.571426,71.724289,72.680000,72.357140,266380800.0,61.083874
2014-01-29,72.481430,71.231430,71.992859,71.535713,125702500.0,60.390423
2014-01-30,72.357140,70.957146,71.791428,71.397141,169625400.0,60.273430
2014-01-31,71.647141,70.507141,70.739998,71.514282,116199300.0,60.372318
2014-02-03,72.532860,71.328575,71.801430,71.647141,100366000.0,60.484482
2014-02-04,72.779999,71.822861,72.264282,72.684288,94170300.0,61.360065
2014-02-05,73.611427,72.321426,72.365715,73.227142,82086200.0,61.818325
2014-02-06,73.357140,72.544289,72.865715,73.215714,64441300.0,64.494965
2014-02-07,74.704285,73.911430,74.482857,74.239998,92570100.0,65.397247
2014-02-10,75.998573,74.000000,74.094284,75.570000,86389800.0,66.568817
2014-02-11,76.821426,75.642860,75.801430,76.565712,70564200.0,67.445953
2014-02-12,77.080002,76.177139,76.707146,76.559998,77025200.0,67.440926
...,...,...,...,...,...,...
2019-04-18,204.149994,202.520004,203.119995,203.860001,24195800.0,203.077957
2019-04-22,204.940002,202.339996,202.830002,204.529999,19439500.0,203.745377
2019-04-23,207.750000,203.899994,204.429993,207.479996,23323000.0,206.684052
2019-04-24,208.479996,207.050003,207.360001,207.160004,17540600.0,206.365295
2019-04-25,207.759995,205.119995,206.830002,205.279999,18543200.0,204.492508
2019-04-26,205.000000,202.119995,204.899994,204.300003,18649100.0,203.516266
2019-04-29,205.970001,203.860001,204.399994,204.610001,22204700.0,203.825073
2019-04-30,203.399994,199.110001,203.059998,200.669998,46534900.0,199.900192
2019-05-01,215.309998,209.229996,209.880005,210.520004,64827300.0,209.712402
2019-05-02,212.649994,208.130005,209.839996,209.149994,31996300.0,208.347656
2019-05-03,211.839996,210.229996,210.889999,211.750000,20892400.0,210.937683
2019-05-06,208.839996,203.500000,204.289993,208.479996,32443100.0,207.680222
2019-05-07,207.419998,200.830002,205.880005,202.860001,38763700.0,202.081787
2019-05-08,205.339996,201.750000,201.899994,202.899994,26339500.0,202.121628
2019-05-09,201.679993,196.660004,200.399994,200.720001,34908600.0,199.949997
2019-05-10,198.850006,192.770004,197.419998,197.179993,41208700.0,197.179993
2019-05-13,189.479996,182.850006,187.710007,185.720001,57430600.0,185.720001
2019-05-14,189.699997,185.410004,186.410004,188.660004,36529700.0,188.660004
2019-05-15,191.750000,186.020004,186.270004,190.919998,26544700.0,190.919998
2019-05-16,192.470001,188.839996,189.910004,190.080002,33031400.0,190.080002
2019-05-17,190.899994,186.759995,186.929993,189.000000,32879100.0,189.000000
2019-05-20,184.350006,180.279999,183.520004,183.089996,38612300.0,183.089996
2019-05-21,188.000000,184.699997,185.220001,186.600006,28364800.0,186.600006
2019-05-22,185.710007,182.550003,184.660004,182.779999,29748600.0,182.779999
2019-05-23,180.539993,177.809998,179.800003,179.660004,36529700.0,179.660004
2019-05-24,182.139999,178.619995,180.199997,178.970001,23714700.0,178.970001
2019-05-28,180.589996,177.910004,178.919998,178.229996,27948200.0,178.229996
2019-05-29,179.350006,176.000000,176.419998,177.380005,28481200.0,177.380005
2019-05-30,179.229996,176.669998,177.949997,178.300003,21188100.0,178.300003
2019-05-31,177.990005,175.000000,176.229996,175.070007,27043584.0,175.070007

In [57]:
df.head(1)

                 High       Low       Open      Close      Volume  Adj Close
Date
2013-12-31  80.182854  79.14286  79.167145  80.145714  55771100.0  67.658981